.cartContainer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 25px;
    .cartItemList {
        width: calc(100% - 340px);
        text-align: center;
    }
}
