.homeContainer {
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
    .sortShoppingContainer{
        display: flex;
        flex-wrap: wrap;
        width: calc(100% - 240px);
        justify-content: space-between;
        padding: 10px;
    }
}