.homeContainer {
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
    .sortShoppingContainer{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
        padding: 10px;
    }
}

@media (min-width: 768px) {
    .shoppingList {
        width: calc(100% - 240px);
    }
}