.footerContainer {
    width: 100%;
    min-height: 16px;
    padding: 4px;
    text-align: center;
    background-color: #2874f0;
    border-top: 2px solid #b6b4b4;
    p {
        color: #fff;
        font-size: 12px;
        margin: 0;
    }
}